@import "tailwindcss";

@theme {
  --color-mvsk-blue: #0066ff;
  --color-mvsk-dark: #0a0a0a;
  --color-mvsk-gray: #1a1a1a;
}

body {
  color: #ffffff;
  background: linear-gradient(to bottom, var(--color-mvsk-dark), #000000);
  min-height: 100vh;
}

